RewriteEngine On

# Rewrite /login to /auth/login.php
RewriteRule ^login$ /auth/login.php [L]

# Rewrite /register to /auth/register.php
RewriteRule ^register$ /auth/register.php [L]

# Rule for URL with 5 segments (author, folder, subject, chapter, and topic)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ /?author=$1&folder=$2&subject=$3&chapter=$4&topic=$5 [L]

# Rule for URL with 4 segments (author, folder, subject, and chapter)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)$ /?author=$1&folder=$2&subject=$3&chapter=$4 [L]

# Rule for URL with 3 segments (author, folder, and subject)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ /?author=$1&folder=$2&subject=$3 [L]

# Rule for URL with 2 segments (author and folder)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)$ /?author=$1&folder=$2 [L]

# Rule for URL with 1 segment (author)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ /?author=$1 [L]
